.MainContainer {
  margin: 3rem 12%;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.ArtistContainer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.searchContainer {
  width: 100%;
}

.filterContainer {
  display: flex;
  gap: 1.5rem;
}