.mainContainer {
  padding: 3rem 6%;
  padding-bottom: 0px;
  max-width: 1300px;
  width: 100%;
}

.collectionLayout {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box; 
}

.artistContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4rem;
  align-items: stretch;
}

.headerContainer {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}
.subtitle {
  color: var(--Dark-Day, #cbc3c3);
  font-family: var(--Font);
  font-size: 1.5rem;
  font-weight: 500;
}

.title {
  color: #fff;
  font-family: var(--Font);
  font-size: 2rem;
  font-weight: 700;
}

.emptyText {
  color: #fff;
  font-family: var(--Font);
  font-size: 1.25rem;
  font-weight: 400;
}
@media (max-width: 800px) {
  .Root {
    flex-direction: column;
  }
  .mainContainer {
    margin: 1.25rem 5%;
    box-sizing: border-box;
    padding-left: 6%;
  }
  .ArtistContainer {
    align-items: flex-start;
  }
}

@media (max-width: 500px) {
  .MainContainer {
    margin: 1rem 10%;
  }
}
