.scrollTop {
  position: fixed;
  z-index: 2;
  right: 5%;
  bottom: 2.5%;
  background-color: var(--Sidebar-Active);
  padding: 0.75rem 0.75rem;
  border-radius: 80px;
}

@media (max-width: 800px) {
  .scrollTop {
    bottom: 10%;
  }
}