
.dialogOverlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dialogContent {
  width: 70%;
  aspect-ratio: 1/1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 95%;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--Dark-Panel, #1f1f21);
  gap: 5rem;
}

.dialogClose {
  position: fixed;
  background: none;
  border: none;
  align-self: flex-start;
  margin-left: 100px;
  margin-top: 50px;
}

.DMContainer {
  margin: 0% 5%;
  overflow: auto;
}