.Root {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.MainContainer {
  margin: 3rem 6%;
  margin-bottom: 0px;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  margin-left: 26%;
}  


.ArtistContainer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: stretch;
}  
.searchContainer {
  width: 100%;
}  

.filterContainer {
  display: flex;
  gap: 1.5rem;
}  

.fetchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 8rem;
}

.fetchButton {
  cursor: pointer;
  font-family: var(--Font);
  padding: 1rem 1.75rem;
  border: none;
  background: var(--LinkPanel);
  color: var(--Link);
  font-size: 1.25rem;
  border-radius: 0.75rem;
}

@media (max-width: 800px) {
  .Root {
    flex-direction: column;
  }  
  .MainContainer {
    margin: 1.25rem 5%;
    box-sizing: border-box;
  }  
  .ArtistContainer {
    align-items: flex-start;
  }
  .fetchContainer {
    width: 100%;
  }
}  

@media (max-width: 500px) {
  .MainContainer {
    margin: 1rem 10%;
  }  
}  




