.AboutCard {
  padding: 2rem 1.5rem;
  background: var(--Panel);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-family: var(--Font);
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  margin: 0px;
}

.subtitle {
  color: #c8c3c3;
  font-family: var(--Font);
  font-size: 1rem;
  font-weight: 500;
  margin: 0px;
}

.description {
  font-family: var(--Font);
  color: #fff;
  font-weight: 400;
  margin: 0px;
}

.header {
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
}
.linkContainer {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  align-content: center;
  align-self: stretch;
  flex-wrap: wrap;
}

.linkButton {
  color: var(--Dark-Link, #cbc3c3);
  background: var(--Dark-LinkPanel, #3c3c3c);
  border: none;
  font-family: var(--Font);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
}

.toastViewport {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 10px;
  margin: 0;
  list-style: none;
  z-index: 2147483647;
  outline: none;
}

.toastRoot {
  background-color: #c8f3d6;
  border-radius: 6px;
  padding: 0.75rem 1rem;
}

.toastTitle {
  margin: 0px;
  font-size: 1.1rem;
  font-family: var(--Font);
  font-weight: 500;
  color: #74b789;
}

.toastRoot[data-state="open"] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.toastRoot[data-state="closed"] {
  animation: hide 100ms ease-in;
}
.toastRoot[data-swipe="move"] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
.toastRoot[data-swipe="cancel"] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.toastRoot[data-swipe="end"] {
  animation: swipeOut 100ms ease-out;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + 2rem));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + 2rem));
  }
}

@media (max-width: 1000px) {
  .linkButton {
    padding: 1rem 1.25rem;
    font-size: 1.25rem;
  }
}
