.mainContainer {
  display: flex;
  gap: 3.75rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: var(--Dark-Panel, #1f1f21);
  border-radius: 1rem;
  padding: 3rem 2.5rem;
}

.topContainer {
  display: flex;
  gap: 3.75rem;
  width: 100%;
}


.leftContainer {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.5rem;
  width: 100%;
}

.rightContainer {
  display: flex;
  flex-basis: 70%;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}
.linkContainer {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  gap: 1.4rem 0.75rem;
  width: 100%;
}

.introductionContainer {
  font-family: var(--Font);
  color: #fff;
  border-radius: 1.25rem;
  background: #2c2929;
  padding: 1.25rem 1.5rem;
  font-size: 1.25rem;
  font-weight: 400;
  height: 100%;
}

.imageContainer {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.linkContainer > * {
  flex: 1 1 25%;
}

.dmText {
  color: #fff;
  font-family: var(--Font);
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.dmContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.artistPage {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  width: 100%;
  max-width: 1300px;
}

.dmCard {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  gap: 1rem;
  border-radius: 0.75rem;
  background: #2c2929;
}

.dmEvent {
  color: #fff;
  font-family: var(--Font);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.bottomContainer {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.artistContainer {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.artistContainer > * {
  flex: 1 0 25%;
}

.productText {
  color: #fff;
  font-family: var(--Font);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.productCard {
  display: flex;
  padding: 1.5rem 2rem;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.75rem;
  background: #2c2929;
}
