.mainContainer {
  padding: 0.5rem 3rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3.5rem;
  flex-wrap: wrap;
  height: 100%;
}

.mainContainer > * {
  flex: 1 1 33%;
}

@media (max-width: 800px) {
  .Root {
    flex-direction: column;
  }
  .mainContainer {
    margin: 1.25rem 5%;
    box-sizing: border-box;
    padding-left: 6%;
    padding-top: 0;
  }
  .ArtistContainer {
    align-items: flex-start;
  }
  .mainContainer > * {
    flex-basis: 100%;

  }
}
