.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 0.75rem;
  background: var(--Panel, #1f1f21);
  padding: 1.5rem 2rem;
  gap: 1.5rem;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.header {
  color: var(--White, #fff);
  font-family: var(--Font);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.subheader {
  color: #d3d3d3;
  font-family: var(--Font);
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.imageContainer {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.image {
  width: 100%;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 1.25rem; 
}


.tagContainer {
  display: flex;
  gap: 0.75rem;
  font-weight: 600;
  flex-wrap: wrap;
}

.tagDescription {
  background: var(--TagBackground, #464646);
  border-radius: 0.25rem;
  color: var(--TagText, #aaa);
  font-family: var(--Font);
  border-radius: 0.25rem 0rem 0rem 0.25rem;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}

.tagItem {
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  padding: 0px;
}

.tagCount {
  border-radius: 0rem 0.25rem 0.25rem 0rem;
  background: var(--NumberTagBackground, #3c3c3c);
  padding: 0.25rem 0.5rem;
  color: var(--NumberTag, #686868);
  font-size: 1rem;
  font-family: var(--Font);
}