.sidebarContainer {
  background: var(--Sidebar-BG, #111);
  height: 100%;
  width: 20%;
  padding: 3rem 0rem;
  position: fixed;
  z-index: 4;
  display: flex;
  max-width: 250px;
  flex-direction: column;
}

.linkButton {
  padding: 0.75rem 2rem;
  color: var(--Dark-TagText, #aaa);
  font-family: var(--Font);
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  text-decoration: none;
  gap: 1.5rem;
  border-radius: 0.5rem;
}

.activeButton {
  background-color: var(--Sidebar-Active);
}

.linkContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 85%;
}
@media (max-width: 800px) {
  .sidebarContainer {
    position: fixed;
    bottom: 0px;
    
    height: auto;
    width: 100%;
    max-width: 100%;
    padding: 1.5rem 1rem;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .linkContainer {
    flex-direction: row;
    gap: 2rem;
  }
  .linkButton {
    font-size: 1.5rem;
  }
}
@media (max-width: 414px) {
  .linkContainer {
    gap: 1.5rem;
  }
  .linkButton {
    font-size: 1.25rem;
  }
}

@media (max-width: 375px) {
  .linkButton {
    gap: 1rem;
  }
}

