.artistCard {
  padding: 1.5rem 2rem;
  border-radius: 12px;
  background: var(--Panel, #1f1f21);
  width: 100%;
  border: none;
  min-height: 100px;
  box-sizing: border-box;
}

.mainContainer {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-start;
}

.imageContainer {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.image {
  width: 100%;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 1.25rem;
}

@media (max-width: 1100px) {
  .rightContainer {
    /* justify-content: flex-start; */
    gap: 1.25rem;
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 0.25rem;
}
.tagContainer {
  display: flex;
  gap: 0.75rem;
  font-weight: 600;
  flex-wrap: wrap;
}

.tagDescription {
  background: var(--TagBackground, #464646);
  border-radius: 0.25rem;
  color: var(--TagText, #aaa);
  font-family: var(--Font);
  border-radius: 0.25rem 0rem 0rem 0.25rem;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}

.tagItem {
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  padding: 0px;
}

.tagCount {
  border-radius: 0rem 0.25rem 0.25rem 0rem;
  background: var(--NumberTagBackground, #3c3c3c);
  padding: 0.25rem 0.5rem;
  color: var(--NumberTag, #686868);
  font-size: 1rem;
  font-family: var(--Font);
}

.activeTagCount {
  background: #4d4d4d;
}

.activeTagDescription {
  background: rgb(90, 89, 89);
  color: #adadad;
}

.dayContainer {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
}

.dayItem {
  gap: 0.25rem;
  display: flex;
  align-items: center;
}

.dayDescription {
  width: 4rem;
  height: 1.5rem;
  color: var(--Dark-Day, #cbc3c3);
  font-family: var(--Font);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  text-align: left;
}

.boothDescription {
  color: var(--Dark-White, #fff);
  font-family: var(--Font);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
}

.header {
  color: var(--Dark-White, #fff);
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--Font);
  text-align: left;
}

.subheader {
  color: var(--Dark-Day, #cbc3c3);
  font-family: var(--Font);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
}

.linkButton {
  color: var(--Dark-Link, #cbc3c3);
  background: var(--Dark-LinkPanel, #3c3c3c);
  border: none;
  font-family: var(--Font);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
}

.linkContainer {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  align-content: center;
  align-self: stretch;
  flex-wrap: wrap;
  
}

.dialogOverlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dialogContent {
  width: 70%;
  aspect-ratio: 1/1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 95%;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--Dark-Panel, #1f1f21);
  gap: 5rem;
}

.dialogClose {
  position: fixed;
  background: none;
  border: none;
  align-self: flex-start;
  margin-left: 100px;
  margin-top: 50px;
}

.DMContainer {
  margin: 0% 5%;
  overflow: auto;
}

.bookmarkButton {
  background: none;
  border: none;
  cursor: pointer;
}

.artistButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  color: #000;
  background: #fb6363;
  border: none;
  font-family: var(--Font);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  gap: 0.5rem;
  cursor: pointer;
}

.smallText {
  font-size: 0.9rem;
}

.introductionContainer {
  font-family: var(--Font);
  color: #FFF;
  border-radius: 1.25rem;
  background: #2C2929;
  padding: 1.25rem 1.5rem;
  font-size: 1.25rem;
  font-weight: 400;
}

@media (max-width: 1000px) {
  .mainContainer {
    flex-direction: column;
  }
  .imageContainer {
    width: 100%;
  }

  .image {
    height: 40%;
  }
  .linkButton {
    padding: 1rem 1.25rem;
    font-size: 1.25rem;
  }
}
