.selectTrigger {
  display: inline-flex;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  border: none;
  background: var(--Panel, #1f1f21);
  font-size: 1rem;
  color: var(--TagText, #aaaaaa);
  font-size: 1rem;
  font-weight: 600;
  gap: 0.1875rem;
  font-family: var(--Font);
  cursor: pointer;
}

.selectIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectTrigger[data-placeholder] {
  color: var(--TagText, #aaaaaa);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: var(--Font);
}

.selectPortal {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: var(--Panel);
}

.selectViewport {
  padding: 5px;
}

.selectContent {
  overflow: hidden;
  background-color: var(--Panel);
  z-index: 2;
  border-radius: 0.75rem;
  padding: 0.75rem 1.5rem;
  width: 100%;
  max-height: var(--radix-select-content-available-height);
}

.selectItem {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0.25rem;
  margin-bottom: 4px;
  font-family: var(--Font);
}

.selectLabel {
  color: var(--TagText, #aaaaaa);
  font-family: var(--Font);
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
}

.seperator {
  margin: 0.75rem 0px;
  height: 1px;
  background-color: var(--TagText, #aaaaaa);
}

.selectContent[data-state="open"] {
  animation: fadeIn 300ms ease-out;
}

.selectContent[data-state="closed"] {
  animation: fadeIn 300ms ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
