:root {
  --Background: #111;
  --Day: #cbc3c3;
  --Link: #cbc3c3;
  --LinkPanel: #3c3c3c;
  --NumberTag: #686868;
  --NumberTagBackground: #3c3c3c;
  --Panel: #1f1f21;
  --TagBackground: #464646;
  --TagText: #aaaaaa;
  --White: #ffffff;
  --Font: Noto Sans TC;
  --OnHover: #39393b;
}

body {
  background-color: var(--Background);
  font-size: 16px;
}
html {
  font-size: 13px;
}
@media screen and (min-width: 1600px) {
  html {
    font-size: 16px;
  }
}
* {
  min-width: 0px;
}
