:root {
  --Background: #111;
  --Day: #cbc3c3;
  --Link: #cbc3c3;
  --LinkPanel: #3c3c3c;
  --NumberTag: #686868;
  --NumberTagBackground: #3c3c3c;
  --Panel: #1f1f21;
  --TagBackground: #464646;
  --TagText: #aaaaaa;
  --White: #ffffff;
  --Font: Noto Sans TC;
  --OnHover: #39393b;
}

body {
  background-color: var(--Background);
  font-size: 16px;
  width: 100%;
  height: 100%;
}
html {
  font-size: 13px;
  width: 100%;
  height: 100%;
}
* {
  min-width: 0px;
}

@media (min-width: 320px) {
  html {
    font-size: 10px;
  }
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}

@media (min-width: 480px) {
  html {
    font-size: 11px;
  }
  /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
  html {
    font-size: 12px;
  }
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
  html {
    font-size: 13px;
  }
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  html {
    font-size: 14px;
  }
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  html {
    font-size: 15px;
  }
  /* hi-res laptops and desktops */
}

@media (min-width: 1600px) {
  html {
    font-size: 16px;
  }
}
