.mainContainer {
  margin: 3rem 6%;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 60%;
  max-width: 1300px;

}

.authorContainer{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
}

.header {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  font-family: var(--Font);
}

.text {
  color: #dfdfdf;
  font-family: var(--Font);
  font-size: 1.5rem;
  font-weight: 500;
  
}

.dcContainer{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.discordButton {
  width: 50%;

}

@media (max-width: 800px) {
  .mainContainer {
    margin: 1.25rem 5%;
    box-sizing: border-box;
  }
}

@media (max-width: 500px) {
  .mainContainer {
    margin: 1rem 10%;
  }
}
