name: Douren CMS Staging Deployment

on:
  pull_request:
    paths:
      - 'fe/cms/**'
      - 'pkg/type'
      - "lib/ui/**"

  workflow_dispatch:
jobs:
  cms-stg-deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    name: Deployment
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Install dependencies
        run: pnpm install

      - name: Install Infisical
        run: npm install -g @infisical/cli

      - name: Authenticate with Infisical
        env:
          CLIENT_ID: ${{secrets.CLIENT_ID}}
          CLIENT_SECRET: ${{secrets.CLIENT_SECRET}}
        run: |
          INFISICAL_TOKEN=$(infisical login --method=universal-auth --client-id=$CLIENT_ID --client-secret=$CLIENT_SECRET --plain --silent)
          echo "INFISICAL_TOKEN=$INFISICAL_TOKEN" >> $GITHUB_ENV

      - name: Build Packages
        run: infisical run --env=staging --projectId=${{secrets.INFISICAL_PROJECT_ID}} -- pnpm run pkg

      - name: Build Library
        run: infisical run --env=staging --projectId=${{secrets.INFISICAL_PROJECT_ID}} -- pnpm run lib

      - name: Build Backend
        run: infisical run --env=staging --projectId=${{secrets.INFISICAL_PROJECT_ID}} -- pnpm run be

      - name: Install Wrangler
        run: pnpm install -g wrangler

      - name: Deploy Frontend
        env:
          CF_ACCOUNT_ID: ${{secrets.CLOUDFLARE_ACCOUNT_ID}}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_KEY }}
        run: |
          cd fe/cms
          infisical run --env=staging --projectId=${{secrets.INFISICAL_PROJECT_ID}} -- pnpm run build
          wrangler pages deploy dist --branch stg 
